/* globals */
html{
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: #F9F9F9;
    font-family: 'Kanit', sans-serif;
    color: #632626;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    background-color: #F9F9F9;
    line-height: 2;
}
h1{
    font-size: 3rem;
}
@media (min-width: 768px) {
    h1{
        font-size: 4rem;
    }
}
h1 span{
    color: #FF8AAE;
    text-transform: uppercase;
}
h2{
    font-size: 2.8rem;
    color: #6867AC;
}

@media (min-width: 768px) {
    h2{
        font-size: 3.2rem;
    }
}

h2 span{
    color: #FF8AAE;
}

h3{
    font-size: 2.4rem;
    color:#b66f7d;
    text-transform: capitalize;
}

@media (min-width: 768px) {
    h3{
        font-size: 2.8rem;
    }
}
p{
    font-size: 1.8rem;
}
a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #354259;
}
@media (min-width: 768px) {
     a{
        font-size: 2rem;
     }
}
a:hover{
    color: #F6C6EA;
    opacity: 0.6;
    transition: 0.3s;
}
img{
    max-width: 100%;
    display: block;
}

/* utilities */
.center{
    text-align: center;
}

.no-margin{
    margin: 0;
}

.btn{
    display: block;
    text-transform: uppercase;
    font-size: 2rem;
    background-color: #6867AC;
    font-weight: bold;
    padding: 1rem;
    color: #e1e1e1;
    text-align: center;
    border: none;
    width: 100%;

}

.btn:hover{
    
    transition: 0.3s ease-in;
    cursor: pointer;
    background-color: #54538a;
}


@media (min-width: 768px) {
    .max-width__btn{
        max-width: 30rem;
    }
}

.container{
    max-width: 120rem;
    margin: 0 auto
}
/* Header y navbar */

.header{
    color: #354259;
    padding: 2rem;
}


.navbar{
    display: flex;
    gap: 3rem;
    border-top: 1px solid #e1e1e1;
    padding: 1rem 0;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
     .navbar{
        flex-direction: row;
        justify-content: space-evenly;
       
     }
}

.navbar__view--on,
.navbar__view:hover{
    color: #F38BA0;
}


.hero{
    background-image: url(../img/hero.jpg);
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center
}

@media (min-width: 768px) {
     .hero{
        height: 55rem;
        background-position: 30% 75%
     }
}



/* section categories */
.categories-product{
    padding: 2rem;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.categories-product a{
    font-size: 2rem;
}

@media (min-width: 768px) {
    .categories-product{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        margin-bottom: 0;
    }
    .categories-product a{
        font-size: 2.5rem;
    }
}
.categories-product img{
    width: 100%;
    height: 30rem;
    object-fit: cover;
    display: block;
}

.categories-product div:hover{
    transition: 0.4s;
    background-color: #F38BA0;
    border-radius: 1rem;
}


/* about us index */
.about-us{
    background-image: linear-gradient(to bottom, transparent 50%,
    #f1d8eb 50%,#f1d8eb 100%  ), url(../img/about.jpg);
     background-position: 50% 32%;
     background-repeat: no-repeat;
     background-size: 100%, 50rem;
   
    }

@media (min-width: 768px) {
    .about-us{
        background-image: linear-gradient(to right, transparent 50%,
         #f1d8eb 50%,#f1d8eb 100%  ), url(../img/about.jpg);
         background-position: center center;
         padding: 8rem 0;
         background-size: 100%, 120rem;
        }
}

.about-grid{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
   
}

.about-text{
    grid-row: 2/3;
    padding: 5rem;

}

@media (min-width: 768px) {
    .about-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: unset;
        column-gap: 4rem;
    }
    .about-text{
        grid-column: 2/3;
        
    }
}



/* products Grid*/
.main-contet{
    padding-top: 4rem;
    
}

@media (min-width: 768px) {
    .list-products{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 1rem;
    }
    .product:nth-child(1){
        grid-column: 1/7;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    .product:nth-child(1) img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .product:nth-child(2){
        grid-column: 1/4;
    }
    .product:nth-child(3){
        grid-column: 4/7;
    }
    .product:nth-child(2) img,
    .product:nth-child(3) img {
        height: 30rem;
        width: 100%;
        object-fit: cover;
    }
    .product:nth-child(4){
        grid-column: 1/3;
    }
    .product:nth-child(5){
        grid-column: 3/5;
    }
    .product:nth-child(6){
        grid-column: 5/7;
    }
    .product:nth-child(4) img,
    .product:nth-child(5) img,
    .product:nth-child(6) img {
        height: 20rem;
        width: 100%;
        object-fit: cover;
    }
}

/* products info */
.product{
    background-color: #f1d8eb;
    margin-bottom: 2rem;
}

.product-text{
    text-align: center;
    padding: 2rem;
}

.product-text h3{
    margin: 0;
}

.product-text p{
    margin: 0 0 .5rem 0;
}

.price {
    font-weight: bold;
    font-size: 2.3rem;
}


/* footer */

.footer{
    border-top: 2px solid #e1e1e1;
    text-align: center;
}
@media (min-width: 768px) {
    .footer-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

.footer-grid > div{
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .footer-grid > div{
        margin-bottom: 0;
    }
    
}

.nav-footer{
    display: flex;
    flex-direction: column;
}

.rights{
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: #354259;
}

/* about page */

.about-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem;
}

@media (min-width: 768px) {
     .about{
       padding: 0; 
     }
}
.img-about{
    margin-bottom: 2rem;
}

/* page blog */



@media (min-width: 768px) {
    .blog-container{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
    }
}

.entry{
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
}
.blog-content{
    padding: 2rem;
}

.entry:last-of-type{
    border: none;
}


.meta-entry p{
    font-weight: bold;
}

.meta-entry span{
    color: #FF8AAE;
}
@media (min-width: 768px) {
    .meta-entry{
        display: flex;
        justify-content: space-between;
    }
    
}

.blog-img{
    max-width: 100rem;
    max-height: 100rem;
}
.blog-img img{
    width: 100%;
}

li{
    font-size: 2rem;
    list-style: square
}

/* entry page */

.entry-content{
    width: 30rem;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .entry-content{
        width: 60rem;
    }
}

/* gallery page */

.gallery-photos{
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns:1fr;
    gap: 1rem ;
    line-height: 1;
}

@media (min-width: 768px) {
    .gallery-photos{
        grid-template-columns: repeat(3 ,1fr);
    }
}

.gallery-photos li{
    list-style: none;
}

.gallery-photos img{
    width: 40rem;
    height: 40rem;
    object-fit: cover;
}

/* contact page */

.contact-form{
    max-width: 60rem;
    margin: 0 auto;
    font-size: 2rem;
    margin-bottom: 1rem;
    background-color: #f5bfca
}

.contact-form fieldset{
    border: 1px solid #FF8AAE;
    margin-bottom: 2rem;

}

.contact-form legend{
    background-color: #FF8AAE;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 2rem;
}

.field{
    display: flex;
    margin-bottom: 1rem;
}

.field input[type="text"],
.field input[type="email"],
.field input[type="tel"],
textarea,
select,
.field input:not([type="radio"])
 {
    flex: 1;
    padding: 1rem;
    border: #e1e1e1;
}
.field label{
    flex-basis: 10rem;
}